#error{
  display: none;
  color: #fa8246;
  font-size: 1.3rem;
}

#page-title{
  font-family: 'Averia Serif Libre', cursive;
  color: #520050;
}

#products-available{
  text-align: left;
  padding: 20px;
  font-size: 0.9rem
}

#product-card{
  background-color: #fff;
  padding: 20px;
}

#results{
  text-align:left;
}

#search-label, #productID, #search-button {
  padding-right: 5px;
  font-size: 1.2rem;
}

.product-search{
  justify-content: center;
  padding-bottom: 20px;
}

a{
  color: #a2d729;
}

a:hover{
  text-decoration: none;
}

a:visited{
  color: #246873;
}

button{
  background-color: #a2d729;
  border-radius: 20px 20px 20px 20px;
  padding: 5px;
  border-color: #a2d729;
}

html{
  background-color: #fafffd;
  color: #342e37;
  font-family: 'Open Sans', sans-serif;
}

main{
  background-color: #ebfff7;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

@media (max-width: 800px) {
  .product-search{
    margin: 0 auto;
    display: grid;
  }
  #search-label, #productID, #search-button {
    display: block;
  }
  main{
    width: 95%
  }
}
